<html>


    <head>
	<link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
	<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--style>
table, th, td {
  border: 1px solid black;
}
</style-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form method="POST">
            <textarea name="text1" placeholder="Add your phrase here" rows="5" cols="95"></textarea><br><br>

            <input class="btn btn-primary" type="submit">
        </form>
		<hr>
        {% if final %}
        <div>
            <!--h2>The Sentiment of</h2> '{{ text1 }}' <h2>is {{ final *100}}% positive !</h2-->
			<!--h2>Score table</h2-->



<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">SENTIMENT METRIC</th>
    <th scope="col">SCORE</th> 
  </tr>
  </thead>
  <tr>
    <td>Positive</td>
    <td>{{text2}}</td>
    
  </tr>
  <tr>
    <td>Neutral</td>
    <td>{{text3}}</td>
    
  </tr>
  <tr>
    <td>Negative</td>
    <td>{{text5}}</td>
    
  </tr>
</table>
            {% else %}
            <p></p>
            {% endif %}
        </div>
		

		
		
    </body>


</html>